<a href="https://colab.research.google.com/github/rangelda/EBAC/blob/main/module_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célula de texto e adicione uma imagem.

---

In [ ]:
print('Olá mundo!')

greet = 'Olá mundo!'
print(greet)

Olá mundo!
Olá mundo!

<a href="https://imgur.com/wnOnD2N"><img src="https://i.imgur.com/wnOnD2Ns.jpg" title="source: imgur.com" /></a>

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)

qtv_19 = 3
tkt_19 = 320.52
A = tkt_19*qtv_19

vtv_19 = A

print(A)

961.56

In [ ]:
# (B)

vtv_20 = 834.47
tkt_20 = 119.21
B = vtv_20 / tkt_20

qtv_20 = B

print(qtv_20)
print(int(qtv_20))

7.000000000000001
7

In [ ]:
# (C)

vtv_23 = 15378.12
qtv_23 = 5
C = vtv_23 / qtv_23

tkt_23 = C

print(tkt_23)
print(int(C))

3075.6240000000003
3075

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# posicao: string.find(substring)
posicao = cancao.find('roda')
print(posicao)

# substituição: string.replace(antigo, novo)
print(cancao.replace('moinho', 'mundinho'))

# maiusculo:string.upper()
print(cancao.upper())

12
Roda mundo, roda gigante, roda mundinho, roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'


selic = noticia[12:17]
print(selic)

ano = noticia[62:63]
print(ano)

2,75%
6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
x = (False & True)
print(x)

False