<a href="https://colab.research.google.com/github/rangelda/EBAC/blob/main/Vari%C3%A1veis_num%C3%A9ricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = 'leila'
idade = 35
print(nome)
print(idade)
print(type('leila'))
print(type(35))
print(type(0.04))

leila
35
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
qt_itens_carrinho_compra = 0

qt_itens_carrinho_compra += 1
qt_itens_carrinho_compra += 1

print(qt_itens_carrinho_compra)

qt_itens_carrinho_compra -=1
print(qt_itens_carrinho_compra)

2
1

In [ ]:
A = 3
B = 2
C = A*B
print(C)
print(type(C))

D = 0.25
E = A*D
print(E)
print(type(E))

6
<class 'int'>
0.75
<class 'float'>

In [ ]:
preço = 47
quantidade = 0.340

total_pagar = quantidade * preço
print(total_pagar)

15.98

O tipo de variável pode se tornar função (tal como print ou type). No caso da var. numéricas o tipo/função converte o valor (decimal p/inteiro, etc)  Exemplo abaixo:

In [ ]:
print(int(2.4))
print(float(15))
print(complex(2))

2
15.0
(2+0j)

In [ ]:
total_pls = 2500
total_d = 15
palavras_dia = total_pls / total_d
print(palavras_dia)
print(int(palavras_dia))

166.66666666666666
166

Motivação - valor do ticket de um restaurante se dá pela média do valor das vendas do dia e da quantidade de vendas do dia.

*   dia 19 - 153.98  qt vendas - 4
*   dia 20 - 167.45  qt vendas - 3
*   dia 21 - 213.56  qt vendas - 6

In [ ]:
svv_19 = 153.98
sqv_19 = 4
tkt_19 = svv_19/sqv_19

print(tkt_19)

svv_20 = 167.45
sqv_20 = 3
tkt_20 = svv_20/sqv_20

print(tkt_20)

tkt = (tkt_19+tkt_20)/2
print(tkt)

38.495
55.81666666666666
47.155833333333334